[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djoser = "*"
django-filter = "*"
environ = "*"
django = "*"
django-environ = "*"
django-cors-headers = "*"
drf-yasg = "*"
psycopg2 = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
